/*--------------------------------------*\
	Main
\*--------------------------------------*/

$blue-grey: #37474f;

html {
	overflow-y: scroll;
	min-height: 100%;
}

body {
	background-color: #fcfcfc;
}

blockquote {border-left: 5px solid $blue-grey !important;}

nav {height: 100px;}

@media only screen and (max-width: 992px) {
	.nav-wrapper {
		float: right;
	}
}

li.logo {height: 100px;}

.parallax-container.short {height: 250px;}

.slider {
	.slides{ background-color: #fcfcfc;
      .outside-caption { float: right; width: 30%; }
      li img.caption-right {float: left; width: 65%; }
    }

	.indicators .indicator-item.active { background-color: $blue-grey; }
}


